Package: com.mpg13.counter
Name: ItFuckingCounts
Version: 1.1-1
Architecture: iphoneos-arm
Description: What does it do? Nobody knows.
Homepage: https://mpg13.github.io
Depiction: https://mpg13.github.io/repo/depicts/counter.html
Maintainer: MPG13 <micahplacido@gmail.com>
Author: MPG13 <micahplacido@gmail.com>
Section: Applications
