<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClassicMode</key>
	<false/>
	<key>FullScreen</key>
	<true/>
	<key>IconIsPrecomposed</key>
	<false/>
	<key>IconIsScreenShotBased</key>
	<false/>
	<key>Orientations</key>
	<integer>0</integer>
	<key>Title</key>
	<string>The GodHead</string>
	<key>URL</key>
	<string>https://thegodhead.github.io/</string>
	<key>WebClipStatusBarStyle</key>
	<string>UIWebClipStatusBarStyleLegacyBlack</string>
</dict>
</plist>
